div {
    background-color: rgba(222, 184, 135, 0.689);
    color: white;
    width: 500px;
    border: 10px Solid brown;
    padding: 10px;
    margin: 2px;
  }
  .lab_boxmodel h1 {
    text-align: center;
}